<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <title>Flowery Backbone</title>
  <link rel="stylesheet" href="css/global.css">
</head>

<body>

  <div class="site">

    <div class="logo">  
      <img src="images/site/logo.jpeg" width="207" height="124" alt="Flowery Backbone" />
    </div>

  </div>

  <script id="flower-element" type="text/template">
    <a href="#<%= link %>"><img src="<%= img %>" alt="<%= name %>" class="image" /></a>
    <ul>
      <li class="flower-info"><strong>Name:</strong> <%= name %></li>
      <li class="flower-info"><strong>Price:</strong> <%= price %></li>
      <li class="flower-info"><strong>Color:</strong> <%= color %></li>
    </ul>
  </script>

  <script src="js/libs/jquery.js"></script>
  <script src="js/libs/underscore.js"></script>
  <script src="js/libs/backbone.js"></script>
  <script src="js/models/singleFlowerModel.js"></script>
  <script src="js/views/singleFlowerView.js"></script>
  <script src="js/views/allFlowersView.js"></script>
  <script src="js/collections/allFlowers.js"></script>
  <script src="js/routes/router.js"></script>
  <script src="js/flowerApp.js"></script>

</body>
</html>